@import 'src/styles/vars';
#lists {
  margin: auto;
}
#range{
  width: 200px;
  margin: auto;
  padding: 0.2em 0;
}
.field {
  margin: 1em 0;
  position: relative;

  &-input {
    font-family: 'Crimson Text', serif;
    width: 100%;
    padding: 0.9em;
    font-size: 1.1em;
    height: 2em;
    border: 1px solid $color-input-border;
    border-radius: 20px;
    margin: 0;
    &:focus {
      border-color: $color-input-border--focus;
    }
  }
  
  &--has-content &-input {
    padding-top: 1.4em; 
  }

  &-label {
    color: red;
    position: absolute;
    top: .5rem;
    left: .7rem;
    font-size: .7em;
    color: $color-input-label;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
  }

  &--has-content &-label {
    display: block;
    animation: translateAndFadeIn .2s;
  }

  &-input:focus + &-label {
    color: $color-input-label--focus;
  }
}


@keyframes translateAndFadeIn {
  0% {
    // opacity: 0;
    transform: translateY(1em);
  }
  50% {
    transform: translateY(-.6em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {    
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
